@import './reset.css';
@import './fonts.css';

@media (prefers-reduced-motion: reduce) {
	*, ::before, ::after {
		transition: 0s !important;
	}
}

:root {
	--color-bg:		#F0F0F0;
	--color-text: 	#000;
	--color-accent: #FFDC4E;

	--font: 'roboto', monospace;
}

body {
	display: grid;
	grid-template-columns: minmax(24px, auto) minmax(auto, 900px) minmax(24px, auto);
	grid-template-rows: auto;

	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);

	color: var(--color-text);
	font-family: var(--font);
	background-color: var(--color-bg);
}

body > * {
	grid-column: 2;
}

::selection {
	background-color: var(--color-accent);
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	pointer-events: none;
	opacity: 0;
	transition: opacity .3s;
	z-index: -1;

	&.loaded {
		opacity: 1;
	}
}


header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}

a.repo {
	font-size: 0;
	user-select: none;
	transition: transform .2s;

	@media (hover) {
		&:hover {
			transform: scale(1.05);
		}
	}

	& img {
		width: 48px;

		@media (min-width: 720px) {
			width: 64px;
		}
	}
}

h1 {
	font-size: 32px;
}


ul {
	display: flex;
	flex-direction: column-reverse;
	counter-reset: list;
}

li {
	display: flex;
	padding: 20px 0;
	font-size: 0;
	transform: translateZ(0px); /* safari fix */

	@media (min-width: 720px) {
		padding: 40px 0;
	}
}

li:nth-child(2n) {
	justify-content: flex-end;

	@media (min-width: 720px) {
		text-align: right;
	}
}

a.experiment {
	position: relative;
	width: min(100%, 600px);
	background-color: #000;
	box-shadow: 0 0 40px -10px rgb(0 0 0 / 50%);

	/* tilt */
	transform-style: preserve-3d;
	transform: perspective(1000px);

	&:before {
		content: '';
		display: block;
		padding-top: 75%;
	}

	&:after {
		counter-increment: list;
		content: counter(list, decimal-leading-zero);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: auto;
		color: #FFF;
		font-size: 80px;
		line-height: .75;
		transform: translateZ(100px);
		pointer-events: none;

		@media (min-width: 720px) {
			font-size: 200px;
		}
	}
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border: none;
	pointer-events: none;
	opacity: 0;
	transition: opacity .3s;

	&.loaded {
		opacity: 1;
	}
}


footer {
	padding: 40px 0;
	font-weight: bold;
	font-size: 18px;
}

a.credits {
	& span {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--color-accent);
			transform-origin: 0% 100%;
			transition: transform .3s;
			backface-visibility: hidden;
			z-index: -1;
		}
	}

	@media (hover) {
		& span:before {
			transform: scaleY(.125);
		}

		&:hover {
			& span:before {
				transform: scaleY(.9);
			}
		}
	}
}
