@import './src/styles/reset.css';
@import './src/styles/fonts.css';

:root {
	--color-bg:		#F0F0F0;
	--color-text: 	#000;
	--color-accent: #FFDC4E;

	--font: 'roboto', monospace;
}

body {
	display: grid;
	grid-template-columns: minmax(20px, auto) minmax(auto, 900px) minmax(20px, auto);
	grid-template-rows: auto;

	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);

	color: var(--color-text);
	font-family: var(--font);
	background-color: var(--color-bg);
}

body > * {
	grid-column: 2;
}

::selection {
	background-color: var(--color-accent);
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	pointer-events: none;
	opacity: 0;
	transition: opacity .3s;
	z-index: -1;

	&.loaded {
		opacity: 1;
	}
}


header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;

	& a {
		font-size: 0;
		user-select: none;
		transform: scale(.99);
		transition: transform .2s;

		&:hover {
			transform: scale(1.05);
		}
	}

	& img {
		width: 64px;
	}
}

h1 {
	font-size: 32px;
}


ul {
	counter-reset: list;
}

li {
	display: flex;
	padding: 20px 0;
	font-size: 0;

	@media (min-width: 720px) {
		padding: 40px 0;
	}
}

li:nth-child(2n) {
	justify-content: flex-end;
	text-align: right;
}

a.experiment {
	position: relative;
	width: 100%;
	max-width: 600px;
	background-color: #000;
	box-shadow: 0 0 30px -10px #000;

	/* tilt */
	transform-style: preserve-3d;
	transform: perspective(1000px);

	&:before {
		content: '';
		display: block;
		padding-top: 75%;
	}

	&:after {
		counter-increment: list;
		content: counter(list, decimal-leading-zero);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: auto;
		color: #FFF;
		font-size: 80px;
		line-height: .75;
		transform: translateZ(100px);
		pointer-events: none;

		@media (min-width: 720px) {
			font-size: 200px;
		}
	}
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border: none;
	pointer-events: none;
	opacity: 0;
	transition: opacity .3s;

	&.loaded {
		opacity: 1;
	}
}


footer {
	padding: 40px 0;
	font-weight: bold;
	font-size: 18px;
}

a.credits {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--color-accent);
		transform-origin: 0% 100%;
		transition: transform .3s;
		z-index: -1;
	}

	@media (hover) {
		&:before {
			transform: scaleY(.125);
		}

		&:hover {
			&:before {
				transform: scaleY(.9);
			}
		}
	}
}
