/* 
html {
	height: 100%;
	overflow: hidden;
} */

body {
	/* height: 100%; */
	margin: 0;
	/* overflow: auto; */
	/* -webkit-overflow-scrolling: touch; */
	-webkit-tap-highlight-color: transparent;
}

img {
	pointer-events: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input, button, select {
	margin: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	line-height: normal;
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
}

button {
	cursor: pointer;
}

h1, h2, h3, h4 {
	margin: 0;
	line-height: 1;
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
